<button class='mainButton' onClick='red()'>Red</button>
<button class='mainButton' onClick='yellow()'>Yellow</button>
<button class='mainButton' onClick='blue()'>Blue</button>
<button class='mainButton' onClick='green()'>Green</button>

<button class='mainButton' onClick='newGame()'>New Game</button>
<h3>Score: <span id='score'></span></h3>
<p>Button Lit Up Simulator:<span id='buttonslight'></span></p>
<p id='testArray'></p>
<p>High Score: <span id='highscore'></span></p>

<%= javascript_include_tag('simonsaysLogic.js') %>