<div id="<%= dom_id sandwich %>">
  <p>
    <strong>Bread:</strong>
    <%= sandwich.bread %>
  </p>

  <p>
    <strong>Cheese:</strong>
    <%= sandwich.cheese %>
  </p>

  <p>
    <strong>Meat:</strong>
    <%= sandwich.meat %>
  </p>

</div>
