<% provide(:title, "About") %>

<h1>About Me</h1>

<div class="imgContainer">
  <%= image_tag("Portrait.jpg", id: 'portrait') %>
  <p>Graduated Chemical and Materials Engineering in 2015, decided to change
  careers and go into Software Development</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p>Check out my repo: <a target="_blank"
    href="https://github.com/BillWu-345/practise-website">
    https://github.com/BillWu-345/practise-website
  </a></p>
  <br>
  <br>
</div>