<% provide(:title, "Home") %>

<h1>Welcome to my website</h1>
<p>To get started, click on the game below:</p>

<%= link_to simonsays_path, :action => 'go' do %>
  <div>
    <%= image_tag("simonsays_icon.jpg", id:'simonsays_icon') %>
    <h1 class='simonsays_text'>Simon Says Game</h1>
  </div>
<% end %>

<p>Leave a Message:</h5>

<div>
  <p>Name: <input type="text" id="name" name="name"></p>
  <p class='message'>Message: <textarea id="messagebox" name="message" rows="4" cols="50"></textarea></p>
  <input type="submit" value="Submit" class='submit'>
</div>

<p>Messages:</p>