<% provide(:title, "Home") %>

<h1>Welcome to my website</h1>
<p>To get started, click on the game below:</p>

<%= link_to simonsays_path, :action => 'go' do %>
  <div>
    <%= image_tag("simonsays_icon.jpg", id:'simonsays_icon') %>
    <h1 class='simonsays_text'>Simon Says Game</h1>
  </div>
<% end %>