@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

h4 {
  text-align: right;
  font-size: 25px;
}

.mainbox {
  width: 500px;
  height: 500px;
  border-radius: 240px;
  margin: 70px auto;
  position: relative;
  background-color: lightgrey;
}


#red {
  border: none;
  background-color: red;
  width: 215px;
  height: 215px;
  margin: 25px 20px 20px 25px;
  border-radius: 250px 0 0 0;
}
#red:active {
  background-color: crimson !important;
}

#yellow {
  border: none;
  background-color: yellow;
  width: 215px;
  height: 215px;
  border-radius: 0 250px 0 0;
}
#yellow:active {
  background-color: gold !important;
}

#blue {
  border: none;
  background-color: blue;
  width: 215px;
  height: 215px;
  margin: 0 20px 0 25px;
  border-radius: 0 0 0 250px;
}
#blue:active {
  background-color: cornflowerblue !important;
}

#green {
  border: none;
  background-color: green;
  width: 215px;
  height: 215px;
  border-radius: 0 0 250px 0;
}
#green:active {
  background-color: lime !important;
}

.scorebox {
  border-radius: 150px;
  position: absolute;
  top: 150px; left: 150px;
  width: 200px;
  height: 200px;
  background-color: lightgrey !important;
}
#score {
  border-radius: 150px;
  padding: 45px 0;
  font-size: 70px;
  color: black;
}

.newGame {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: cyan;
  font-size: 30px;
}
.newGame:active {
  background-color: lightblue;
}
.newGameDiv {
  width: 300px;
  height: 120px;
  margin: 0 auto;
}