@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

// * {
//   border: 1px solid red;
// }

body {
  padding-top: 60px;
  font-family: 'Calisto MT', 'Bookman Old Style', 'Bookman', 'Goudy Old Style',
    'Garamond', 'Hoefler Text', 'Bitstream Charter', 'Georgia', serif;
}

.container {
  position: relative;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
    font-size: 15px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      font-size: 15px;
    }
  }
}

// Highscore and save/load feature
.highScore {
  display: inline-block;
  font-size: 25px;
  margin-top: 50px;
}

.saveLoadBox {
  display: inline-block;
  right: 0;
  margin: 20px;
  position: absolute;
}

.saveButton, .loadButton {
  float: right;
  font-size: 35px;
  margin: 5px;
  width: 170px;
}

#saveIcon, #loadIcon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.saveCode {
  margin-top: 100px;
}

// Main Game Features
.mainbox {
  width: 500px;
  height: 500px;
  border-radius: 240px;
  margin: 70px auto;
  position: relative;
  background-color: lightgrey;
}


#red {
  border: none;
  background-color: red;
  width: 215px;
  height: 215px;
  margin: 25px 20px 20px 25px;
  border-radius: 250px 0 0 0;
}
#red:active {
  background-color: crimson !important;
}

#yellow {
  border: none;
  background-color: yellow;
  width: 215px;
  height: 215px;
  border-radius: 0 250px 0 0;
}
#yellow:active {
  background-color: gold !important;
}

#blue {
  border: none;
  background-color: blue;
  width: 215px;
  height: 215px;
  margin: 0 20px 0 25px;
  border-radius: 0 0 0 250px;
}
#blue:active {
  background-color: cornflowerblue !important;
}

#green {
  border: none;
  background-color: green;
  width: 215px;
  height: 215px;
  border-radius: 0 0 250px 0;
}
#green:active {
  background-color: lime !important;
}

.scorebox {
  border-radius: 150px;
  position: absolute;
  top: 150px; left: 150px;
  width: 200px;
  height: 200px;
  background-color: lightgrey;
}
#score {
  border-radius: 150px;
  padding: 45px 0;
  font-size: 70px;
  color: black;
}

.newGame {
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: cyan;
  font-size: 30px;
}
.newGame:active {
  background-color: lightblue;
}
.newGameDiv {
  width: 300px;
  height: 120px;
  margin: 0 auto;
}


// Homepage
#simonsays_icon {
  margin: 50px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.simonsays_text {
  display: inline-block;
}

.simonsays_link:hover {
  text-decoration: none;
}

.messagesHeader {
  margin-top: 50px;
}

.headerSubtext {
  font-size: 14px;
}

.deleteButton {
  display: inline-block;
  float: right;
  height: 50px;
}
.name {
  display: inline-block;
}

.emptyGap {
  margin-top: 30px;
}

// About Page
.imgContainer {
  position: static;
}

#portrait {
  float: right;
  width: 200px;
  height: 200px;
}