<footer class="footer">
  <small>
    A practise website built by Bill Wu
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Scaffold", sandwiches_path %></li>
    </ul>
  </nav>
</footer>